/**
 * Media query for all screen resolutions.
 * Fixed as A4 size targetting specifically LGPR reports that will be printed.
 *
 * Author: SCCoaching (Gustavo Lee)
 * since 1.0
 */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    /*overflow-x: hidden;*/
    /* Prevent scroll on narrow devices */
    max-width: 21cm;
    height: 29.7cm;
    background-color: #FAFAFA;
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
}

@page {
    size: 21cm 29.7cm;
    margin: 145px 0 200px 0;
    /* change the margins as you want them to be. */
}

.page {
    width: 21cm;
    height: 29.7cm;
    padding-top: 145px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.page-breaker {
    margin: 25px 0;
    position: relative;
}

.page-number {
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    /*visibility: hidden;*/
}

.page-printing {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 155px;
    color: #000;
    height: 40px;
    text-align: center;
    font-size: 10pt;
    opacity: 0.8;
    font-weight: bold;
    z-index: 10;
}

.page-printing-to-pdf {
    position: fixed;
    top: 60px;
    right: 10px;
    width: 155px;
    color: #000;
    height: 40px;
    text-align: center;
    font-size: 10pt;
    opacity: 0.8;
    font-weight: bold;
    z-index: 10;
}

.report-header {
    position: absolute;
    /*position: fixed;*/
    top: 0;
    height: 146px;
    z-index: 10;
}

.lgpr-header-container {
    width: 21cm;
    height: 100%;
    max-width: 796px;
    margin-left: auto;
    margin-right: auto;
}

.report-footer {
    /*position: absolute;*/
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #005246;
}

.lgpr-footer-container {
    width: 21cm;
    height: 100%;
    max-width: 796px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0 auto;
}

.lgpr-container {
    /*padding-top: 145px;*/
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.lgpr-text-header {
    width: 450px;
    height: 76px;
    margin: 0 auto;
    text-align: center;
}

.lgpr-text-header h4 {
    font-size: 16px;
}

#lgpr-report-header-description>div {
    margin: 10px auto;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

#lgpr-legend-banner {
    max-height: 83px;
    max-width: 350px;
}

#lgpr-report-legend-banner {
    max-height: 83px;
}

#lgpr-report-questionnaire {
    word-wrap: break-word;
}

.adjust-margin {
    margin-left: -10px;
}

.content {
    width: 95%;
}

.row {
    margin-bottom: 0.5rem;
}

.row-no-margin-sides {
    margin: 0;
}

.row-no-margin {
    margin-right: 0;
    margin-left: 0;
}

.col-md-height {
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 40px;
}

.text-color-white {
    color: #fff !important;
}

.table-border {
    border: 1px solid #000000 !important;
    margin-bottom: 10px;
}

.lgpr-legend-td {
    padding: 0px !important;
    vertical-align: middle !important;
}

.table-border tbody tr>td {
    border: none;
}

.report-result-verbative {
    /*border: 1px solid #000;*/
}

.report-result-verbative-breakout-group {
    border-width: 1px;
    padding: 45px 15px 15px;
    border-style: solid;
    position: relative;
    display: block;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    max-height: 880px;
}

.report-result-verbative-breakout-group-legend {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.media-lgpr {
    font-weight: bold;
    width: 45px;
    text-align: center;
    color: #fff;
}

.media-lgpr-1 {
    background-color: #72a59e;
}

.media-lgpr-2 {
    background-color: #2f5e57;
}

.media-lgpr-3 {
    background-color: #005246;
}

.report-results-header {
    background-color: #005246;
    height: 40px;
    line-height: 40px;
}

.breakgroup-item {
    color: #000;
    margin: 5px 0;
    font: 8px sans-serif;
    padding: 1px;
}

.legend-lgpr-1,
.legend-lgpr-2,
.legend-lgpr-3 {
    padding: 5px;
    vertical-align: middle;
    display: block;
}

.lgpr-1,
.legend-lgpr-1 {
    background-color: #72a59e !important;
}

.lgpr-2,
.legend-lgpr-2 {
    background-color: #2f5e57 !important;
}

.lgpr-3,
.legend-lgpr-3 {
    background-color: #005246 !important;
}

.report-results-header-item {
    color: #FFF;
    display: inline-block;
    width: 350px;
}

.header-item-left {
    width: 482px;
}

.header-item-right {
    width: 230px;
}

.one-line-text {
    line-height: 40px;
}

.double-line-text {
    vertical-align: top;
    line-height: normal;
    margin-top: 5px;
}

.report-results-header-item>div {
    height: 40px;
}

.report-results-header-item>div,
.breakgroup-item>div {
    display: inline-block;
}

.report-results-header-item .col-title-2,
.breakgroup-item .col-item-2 {
    width: 70px;
}

.report-results-header-item .col-title-3,
.breakgroup-item .col-item-3 {
    width: 70px;
}

.report-result {
    margin-bottom: 20px;
}

.report-results-content {
    position: relative;
}

.report-results-chart {
    background: #FFF;
}

.report-cols>.col-eq {
    width: 150px;
    display: inline-block;
    text-align: center;
}

.col-first {
    text-align: left;
}

.col-first,
.col-last {
    width: 145px;
    display: inline-block;
}

.col-last {
    text-align: right;
}

.col-50 {
    width: 350px;
    float: left;
    position: relative;
    min-height: 1px;
    margin-top: 10px;
}

.col-50-1 {
    width: 480px;
    display: inline-block;
}

.col-50-2 {
    width: 230px;
    display: inline-block;
}

.col-footer-50 {
    width: 375px;
    display: inline-block;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
    display: inline-block;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #999;
    font-family: sans-serif;
    font-weight: normal;
    color: #333;
}

.chart {
    margin: 10px 0 10px 10px;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.chart-table {
    margin: 10px 0 10px 0px;
    padding: 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.breakgroup-group {
    height: 20px;
    border-bottom: 1px solid #000 !important;
}

.breakgroup-group-row {
    width: 329px;
}

.breakgroup-group-title {
    width: 100px;
    vertical-align: middle;
}

.breakgroup-chart {
    /*display: inline-block;*/
    /*width: 100%;*/
    padding-right: 58px;
}

.breakgroup-chart div {
    font: 8px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 1px 10px 1px 0px;
    color: white;
    margin: 5px 0;
}

.legend {
    /*width: 100%;*/
    margin-left: 45px;
}

.legend-container {
    width: 55px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    vertical-align: top;
}

.legend-container .description {
    transform: rotate(-45deg) translate(-61px, -10px);
    width: 115px;
    font-size: 8px;
    word-wrap: break-word;
    word-break: break-all;
}

.legend-container .description-horiz {
    font-size: 8px;
    text-align: center;
    width: 34px;
    margin: 0 auto;
    word-break: break-all;
}