/**
 * Media query for printing.
 * This was added as a workaround for text & background color when printing. (Ctrl + P)
 *
 * since 1.0
 */

* {
    -webkit-print-color-adjust: exact;
}

@page {
    size: 21cm 29.7cm;
    margin: 145px 0 0 0;
    /* change the margins as you want them to be. */
}

.report-header {
    position: absolute !important;
    height: 145px !important;
    display: block !important;
    width: 100% !important;
}

.report-footer {
    display: block !important;
    position: fixed !important;
}

.legend-lgpr-1 {
    background-color: #72a59e !important;
}

.legend-lgpr-2 {
    background-color: #2f5e57 !important;
}

.legend-lgpr-3 {
    background-color: #005246 !important;
}

.lgpr-1,
.media-lgpr-1 {
    background-color: #72a59e !important;
    color: #fff !important;
}

.lgpr-2,
.media-lgpr-2 {
    background-color: #2f5e57 !important;
    color: #fff !important;
}

.lgpr-3,
.media-lgpr-3 {
    background-color: #005246 !important;
    color: #fff !important;
}

.report-results-header,
.report-footer {
    background-color: #005246 !important;
}

.text-color-white {
    color: #fff !important;
}

.page-breaker {
    page-break-before: always;
    display: block;
    margin: 0 !important;
}

.page-printing {
    display: none;
}

.page-printing-to-pdf {
    display: none;
}

.page-number {
    visibility: visible !important;
}

.report-result-verbative-breakout-group {
    page-break-after: always;
}