.lgpr-builder {
    position: relative;
    height: 100%;
}

.lgpr-builder iframe,
.lgpr-builder .no_iframe {
    width: 100%;
    height: 735px;
    border: 1px solid #666;
    background-color: #ddd;
    overflow-x: scroll;
    z-index: 10;
}

#flyer-report-chart {
    height: 367px;
}

#flyer-report-table .table {
    width: 100%;
}

#flyer-report-table thead tr>th,
#flyer-report-table tbody tr>td {
    width: 33%;
    text-align: center;
    vertical-align: middle !important;
    padding: 1px !important;
    border: none;
}

.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* IFRAME TOP TEXT */

.iframe-hover {
    position: absolute;
    width: 500px;
    opacity: 0.2;
    vertical-align: middle;
    display: block;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}

.iframe-top-banner {
    top: 0;
    height: 145px;
    background: green;
    line-height: 145px;
}

.iframe-report-description {
    top: 145px;
    height: 100px;
    background: orange;
    line-height: 100px;
}

.iframe-report-legend {
    top: 245px;
    height: 185px;
    background: blue;
    line-height: 185px;
}